In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
cic=pd.read_csv('Car Insurance Claim.csv')

In [18]:
cic.head()

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_brake_assist,is_power_door_locks,is_central_locking,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2,0
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,No,Yes,Yes,Yes,No,Yes,Yes,Yes,2,0

In [14]:
cic.columns

Index(['policy_id', 'policy_tenure', 'age_of_car', 'age_of_policyholder',
       'area_cluster', 'population_density', 'make', 'segment', 'model',
       'fuel_type', 'max_torque', 'max_power', 'engine_type', 'airbags',
       'is_esc', 'is_adjustable_steering', 'is_tpms', 'is_parking_sensors',
       'is_parking_camera', 'rear_brakes_type', 'displacement', 'cylinder',
       'transmission_type', 'gear_box', 'steering_type', 'turning_radius',
       'length', 'width', 'height', 'gross_weight', 'is_front_fog_lights',
       'is_rear_window_wiper', 'is_rear_window_washer',
       'is_rear_window_defogger', 'is_brake_assist', 'is_power_door_locks',
       'is_central_locking', 'is_power_steering',
       'is_driver_seat_height_adjustable', 'is_day_night_rear_view_mirror',
       'is_ecw', 'is_speed_alert', 'ncap_rating', 'is_claim'],
      dtype='object')

In [54]:
cic[['torque','rpm']]=cic['max_torque'].str.split('@',expand=True)

In [56]:
cic['torque']=cic['torque'].str.replace('Nm','')

In [57]:
cic['rpm @max torque']=cic['rpm'].str.replace('rpm','')

In [49]:
cic[['max power','rpm @max power']]=cic['max_power'].str.split('@',expand=True)

In [61]:
cic['max power']=cic['max power'].str.replace('bhp','')

In [62]:
cic.isna().sum()

policy_id                           0
policy_tenure                       0
age_of_car                          0
age_of_policyholder                 0
area_cluster                        0
population_density                  0
make                                0
segment                             0
model                               0
fuel_type                           0
max_torque                          0
max_power                           0
engine_type                         0
airbags                             0
is_esc                              0
is_adjustable_steering              0
is_tpms                             0
is_parking_sensors                  0
is_parking_camera                   0
rear_brakes_type                    0
displacement                        0
cylinder                            0
transmission_type                   0
gear_box                            0
steering_type                       0
turning_radius                      0
length                              0
width                               0
height                              0
gross_weight                        0
is_front_fog_lights                 0
is_rear_window_wiper                0
is_rear_window_washer               0
is_rear_window_defogger             0
is_brake_assist                     0
is_power_door_locks                 0
is_central_locking                  0
is_power_steering                   0
is_driver_seat_height_adjustable    0
is_day_night_rear_view_mirror       0
is_ecw                              0
is_speed_alert                      0
ncap_rating                         0
is_claim                            0
torque                              0
rpm                                 0
rpm at max torque                   0
max power                           0
rpm @max power                      0
rpm @max torque                     0
dtype: int64

In [64]:
cic.duplicated().sum()

0

In [71]:
cic[['gross_weight']].mean()

gross_weight    1385.276813
dtype: float64

In [77]:
strtype_claim=cic[['steering_type','is_claim']].groupby('steering_type').sum()

In [99]:
strtype_claim['claim count']=cic[['steering_type','is_claim']].groupby('steering_type').count()

In [100]:
strtype_claim

               is_claim  claim count
steering_type
Electric           1597        23881
Manual               73         1209
Power              2078        33502

In [105]:
strtype_claim['claim count prop obs']=strtype_claim['is_claim']/strtype_claim['claim count']

In [111]:
strtype_claim

,is_claim,claim count,claim count %,claim count prop,claim count prop obs,claim count expected
steering_type,,,,,,
Electric,1597,23881,0.066873,0.066873,0.066873,0.063093
Manual,73,1209,0.060380,0.060380,0.060380,0.063093
Power,2078,33502,0.062026,0.062026,0.062026,0.063093

In [109]:
strtype_claim['claim count expected']=strtype_claim['claim count prop obs'].sum()/3

In [110]:
chi_sq=

,is_claim,claim count,claim count %,claim count prop,claim count prop obs,claim count expected
steering_type,,,,,,
Electric,1597,23881,0.066873,0.066873,0.066873,0.063093
Manual,73,1209,0.060380,0.060380,0.060380,0.063093
Power,2078,33502,0.062026,0.062026,0.062026,0.063093

In [131]:
from scipy.stats import ttest_ind

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3962879044.py, line 1)

In [151]:
strtype_claim.drop(['claim count prop','claim count prop obs','claim count expected','is_claim_exp','claim count %'],axis=1)

               is_claim  claim count
steering_type
Electric           1597        23881
Manual               73         1209
Power              2078        33502

In [128]:
chisquare(f_obs=strtype_claim['is_claim'], f_exp=strtype_claim['is_claim_exp'],ddof=2)

Power_divergenceResult(statistic=1753.9919957310567, pvalue=nan)

In [130]:
group1=cic[cic['steering_type']=='Power']
group2=cic[cic['steering_type']=='Electric']
group3=cic[cic['steering_type']=='Manual']

In [148]:
from scipy import stats
fvalue, pvalue = stats.f_oneway(group1['is_claim'],group2['is_claim'], group3['is_claim'])
print(fvalue, pvalue)

2.8681974605579423 0.056809196370210806

In [135]:
ttest_ind(group1['is_claim'],group2['is_claim'])

TtestResult(statistic=0.8836032511807208, pvalue=0.37691889044045523, df=25088.0)

In [136]:
ttest_ind(group1['is_claim'],group3['is_claim'])

TtestResult(statistic=2.3377607929562316, pvalue=0.019403078480027838, df=57381.0)

In [137]:
ttest_ind(group2['is_claim'],group3['is_claim'])

TtestResult(statistic=-0.23315767619250716, pvalue=0.8156403445655246, df=34709.0)

In [139]:
cic[['make','ncap_rating']]

       make  ncap_rating
0         1            0
1         1            0
2         1            0
3         1            2
4         2            2
...     ...          ...
58587     2            2
58588     1            0
58589     1            0
58590     1            2
58591     3            3

[58592 rows x 2 columns]

In [179]:
from scipy import stats
fvalue, pvalue = stats.f_oneway(cic['make'], cic['ncap_rating'])
print(fvalue, pvalue)

0.2585809498387168 0.6110976987839682

In [223]:
new= pd.pivot_table(data=cic,values='is_claim',index='airbags',columns='is_speed_alert',aggfunc='count').fillna(0)

In [224]:
new

is_speed_alert     No      Yes
airbags
1                 0.0   1209.0
2               363.0  40062.0
6                 0.0  16958.0

In [225]:
stats.chi2_contingency(new)

Chi2ContingencyResult(statistic=164.14921247250035, pvalue=2.2669994106029363e-36, dof=2, expected_freq=array([[7.49022051e+00, 1.20150978e+03],
       [2.50448440e+02, 4.01745516e+04],
       [1.05061339e+02, 1.68529387e+04]]))